####   Read the data set and replace dashes with 0 to make sure you can perform arithmetic operations on the data.

In [124]:
import pandas as pd

In [125]:
df = pd.read_csv("Laliga.csv")

In [126]:
df.shape

(61, 20)

In [127]:
df.dtypes

Pos               int64
Team             object
Seasons           int64
Points            int64
GamesPlayed       int64
GamesWon          int64
GamesDrawn        int64
GamesLost         int64
GoalsFor          int64
GoalsAgainst      int64
Champion          int64
Runner-up         int64
Third             int64
Fourth            int64
Fifth             int64
Sixth             int64
T                 int64
Debut            object
Since/LastApp    object
BestPosition      int64
dtype: object

In [128]:
df.shape

(61, 20)

In [129]:
df = df.replace('-',0)

In [130]:
df.shape

(61, 20)

#### Print all the teams which have started playing between 1930-1980.

In [131]:
df["Debut_Split"] = df['Debut'].str.split('-').str[0]

In [132]:
df.head()

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,...,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition,Debut_Split
0,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,...,23,8,8,3,4,79,1929,1929,1,1929
1,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,...,25,12,12,4,6,83,1929,1929,1,1929
2,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,...,8,16,9,7,6,56,1929,2002-03,1,1929
3,4,Valencia,82,3386,2664,1187,616,861,4398,3469,...,6,10,11,10,7,50,1931-32,1987-88,1,1931
4,5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,...,7,10,5,8,10,49,1929,1929,1,1929

In [133]:
df['Debut_Split'] = df['Debut_Split'].astype('int64')

In [134]:
df.dtypes

Pos               int64
Team             object
Seasons           int64
Points            int64
GamesPlayed       int64
GamesWon          int64
GamesDrawn        int64
GamesLost         int64
GoalsFor          int64
GoalsAgainst      int64
Champion          int64
Runner-up         int64
Third             int64
Fourth            int64
Fifth             int64
Sixth             int64
T                 int64
Debut            object
Since/LastApp    object
BestPosition      int64
Debut_Split       int64
dtype: object

In [135]:
a = ( df["Debut_Split"] >= 1930) & (df["Debut_Split"] <= 1980 )

In [136]:
a[a == True].count()

37

In [137]:
df = df.drop(columns="Debut_Split")

#### Print the list of teams which came Top 5 in terms of points

In [138]:
df2 = df.sort_values('Points',ascending=False).head(5)

In [139]:
df2["Team"]

0        Real Madrid
1          Barcelona
2    Atletico Madrid
3           Valencia
4    Athletic Bilbao
Name: Team, dtype: object

#### Write a function with name “Goal_diff_count” which should return all the teams with their Goal Differences. Using the same function, find the team which has maximum and minimum goal difference.

In [144]:
df.dtypes

Pos                 int64
Team               object
Seasons             int64
Points              int64
GamesPlayed         int64
GamesWon            int64
GamesDrawn          int64
GamesLost           int64
GoalsFor            int64
GoalsAgainst        int64
Champion            int64
Runner-up           int64
Third               int64
Fourth              int64
Fifth               int64
Sixth               int64
T                   int64
Debut              object
Since/LastApp      object
BestPosition        int64
Goal_diff_count     int64
dtype: object

In [145]:
def Goal_diff_count(df):
    df["Goal_diff_count"] = df["GoalsFor"] - df["GoalsAgainst"]
    print(df.iloc[:,[1,20]])
    a = df.sort_values(by=["Goal_diff_count"],ascending=False).head(1)
    print("Maximum\n")
    print(a["Team"])
    print("Minimum\n")
    b = df.sort_values(by=["Goal_diff_count"]).head(1)
    print(b["Team"])

In [146]:
Goal_diff_count(df)

                   Team  Goal_diff_count
0           Real Madrid             2807
1             Barcelona             2786
2       Atletico Madrid             1225
3              Valencia              929
4       Athletic Bilbao              931
5               Sevilla              307
6              Espanyol             -280
7         Real Sociedad               -2
8              Zaragoza             -164
9            Real Betis             -333
10  Deportivo La Coruna             -136
11           Celta Vigo             -346
12           Valladolid             -413
13     Racing Santander             -525
14       Sporting Gijon             -399
15              Osasuna             -334
16               Malaga             -342
17               Oviedo             -309
18             Mallorca             -189
19           Las Palmas             -399
20           Villarreal              103
21              Granada             -338
22       Rayo Vallecano             -328
23                Elche             -272
24               Getafe             -113
25             Hercules             -334
26             Tenerife             -125
27               Murcia             -385
28               Alaves             -165
29              Levante             -202
..                  ...              ...
31             Sabadell             -228
32                Cadiz             -269
33             Logrones             -198
34            Castellon             -169
35             Albacete              -90
36              Almeria             -122
37              Cordoba             -145
38           Compostela              -42
39           Recreativo              -94
40            Burgos CF              -94
41           Pontevedra              -56
42             Numancia              -98
43                Eibar              -28
44               Arenas              -81
45          Real Burgos              -38
46            Gimnastic             -114
47          Extremadura              -55
48               Merida              -45
49             Alcoyano             -107
50                 Jaen              -62
51           Real Union              -31
52           AD Almeria              -45
53               Europa              -34
54               Lleida             -112
55              Leganes              -19
56                Xerez              -28
57               Condal              -20
58      Atletico Tetuan              -34
59     Cultural Leonesa              -31
60               Girona                0

[61 rows x 2 columns]
Maximum

0    Real Madrid
Name: Team, dtype: object
Minimum

13    Racing Santander
Name: Team, dtype: object

#### Create a new column with name “Winning Percent” and append it to the data set 
Percentage of Winning = (GamesWon / GamesPlayed)*100
#### If there are any numerical error, replace it with 0%
#### Print the top 5 teams which has the highest Winning percentage

In [147]:
df["WinningPercent"] = (df["GamesWon"]/df["GamesPlayed"])*100

In [148]:
df = df.fillna(0)

In [149]:
df.tail(10)

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,...,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition,Goal_diff_count,WinningPercent
51,52,Real Union,4,56,72,21,14,37,153,184,...,0,0,0,1,1,1929,1931-32,6,-31,29.166667
52,53,AD Almeria,2,52,68,17,18,33,71,116,...,0,0,0,0,0,1979-80,1980-81,10,-45,25.000000
53,54,Europa,3,42,54,18,6,30,97,131,...,0,0,0,0,0,1929,1930-31,8,-34,33.333333
54,55,Lleida,2,40,68,13,14,41,70,182,...,0,0,0,0,0,1950-51,1993-94,16,-112,19.117647
55,56,Leganes,1,35,38,8,11,19,36,55,...,0,0,0,0,0,2016-17,2016-17,17,-19,21.052632
56,57,Xerez,1,34,38,8,10,20,38,66,...,0,0,0,0,0,2009-10,2009-10,20,-28,21.052632
57,58,Condal,1,22,30,7,8,15,37,57,...,0,0,0,0,0,1956-57,1956-57,16,-20,23.333333
58,59,Atletico Tetuan,1,19,30,7,5,18,51,85,...,0,0,0,0,0,1951-52,1951-52,16,-34,23.333333
59,60,Cultural Leonesa,1,14,30,5,4,21,34,65,...,0,0,0,0,0,1955-56,1955-56,15,-31,16.666667
60,61,Girona,1,0,0,0,0,0,0,0,...,0,0,0,0,0,2017-18,2017-18,9,0,0.000000

In [150]:
# Print the top 5 teams which has the highest Winning percent
df1 = df.sort_values('WinningPercent',ascending=False).head(5)

In [151]:
df1["Team"]

0        Real Madrid
1          Barcelona
2    Atletico Madrid
3           Valencia
4    Athletic Bilbao
Name: Team, dtype: object

#### Group teams based on their “Best position” and print the sum of their points for all positions

In [152]:
df.groupby("BestPosition")["Points"].agg("sum")

BestPosition
1     27933
2      6904
3      5221
4      6563
5      1884
6      2113
7      1186
8      1134
9        96
10      450
11      445
12      511
14       71
15       14
16       81
17      266
19       81
20       34
Name: Points, dtype: int64