In [1]:
import pandas as pd

In [3]:
sales_df = pd.read_csv("Titan_Sales_Sample.csv")

In [5]:
sales_df.head()

   SALESPERSON  Old Scheme  New Scheme
0            1          57          62
1            2         103         122
2            3          59          54
3            4          75          82
4            5          84          84

In [6]:
sales_df['Old Scheme'] = sales_df['Old Scheme']*1000

In [7]:
sales_df['New Scheme'] = sales_df['New Scheme']*1000

In [8]:
sales_df.head()

   SALESPERSON  Old Scheme  New Scheme
0            1       57000       62000
1            2      103000      122000
2            3       59000       54000
3            4       75000       82000
4            5       84000       84000

In [9]:
sales_df.dtypes

SALESPERSON    int64
Old Scheme     int64
New Scheme     int64
dtype: object

#### 1. Find the mean of old scheme and new scheme column.

In [12]:
# Mean of old scheme
mu = sales_df['Old Scheme'].mean()
mu

68033.33333333333

In [13]:
# Mean of new scheme
xbar = sales_df['New Scheme'].mean()
xbar

72033.33333333333

#### 2. Use the five percent significance test over the data to determine the p value to check new scheme has significantly raised outputs?

In [14]:
import scipy.stats as stats
from math import sqrt

In [27]:
# Setting Level of Significance as 5%
alpha = 0.05

In [17]:
sd = sales_df['New Scheme'].std()

In [18]:
n = 30

In [19]:
se = sd / sqrt(n)

In [20]:
z = (xbar - mu)/se

In [23]:
pValue = 1 - stats.norm.cdf(z)

In [24]:
pValue

0.1812784364168789

In [26]:
pValue > alpha
# pValue > apha, accept Null Hypothesis & reject the Alternate hypothesis

True

#### 3. What conclusion does the test (p-value) lead to?

In [ ]:
# Under Titan's new incentive scheme, the sales output is more

#### 4. Suppose it has been calculated that in order for Titan to break even, the average output must increase by Â£5000 in the scheme compared to the old scheme. If this figure is alternative hypothesis, what is:

##### a) The probability of a type 1 error?

In [28]:
tstat = 5000/se
tstat

1.1381297637177097

In [29]:
df = n-1

In [30]:
p = stats.t.cdf(tstat, df=df)
p
#The calculated p-value of .86781 is the probability of committing a Type I Error

0.8678090273675481

##### b) What is the p- value of the hypothesis test if we test for a difference of USD 5000?

In [ ]:
#H0: Difference = 0
#HA: Difference = 5000

In [35]:
sd_old = sales_df['Old Scheme'].std()
se_old = (sd_old/sqrt(n))

In [36]:
z_score = 5000/se_old
z_score

1.3387834555634364

In [37]:
p_Value = 1 - stats.norm.cdf(z_score)
p_Value

0.09032058913876151

In [38]:
p_Value > alpha
# pValue > apha, accept Null Hypothesis & reject the Alternate hypothesis

True

##### c) Power of the test

In [40]:
# lower limit of the region of acceptance
ll = mu - (se_old * p_Value)
ll

67696.00996425738

In [41]:
#upper limit of the region of acceptance
ul = mu + (se_old * p_Value)
ul

68370.65670240928

In [ ]:
# the region of acceptance is range of values between 67696.01 and 68370.66

In [ ]:
# The power of the test is the probability of rejecting the null hypothesis given the null hypothesis is false
# Since the region of acceptance is 67696.01 to 68370.66, the null hypothesis will be rejected 
# when the sampled avg. o/p is less than 67696.01 or greater than 68370.66.

In [51]:
# Probability when the sampled avg. o/p is less than 67696.01
zleft = stats.norm.cdf((ll - mu)/sd_old)
zleft

0.49342165694524304

In [52]:
# Probability when the sampled avg. o/p greater than 68370.66
zright = stats.norm.cdf((ul - mu)/sd_old)
zright

0.5065783430547569

In [54]:
beta = zright - zleft
beta

0.013156686109513871

In [55]:
# Power of the test is 1-beta
1-beta

0.9868433138904862